<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
      </script>
<script type="text/javascript" src="GetStock.js"></script>
<style type="text/css">
	body{
		background-image: url("customer.jpg");
		color:white;
	}
	h1{
		margin-left:300px;
		font-size: 40px;
		font-family: verdana;
	}
	table{
		margin-left: 300px;
		background-color: black;
	}

</style>
</head>
<body>
<div>
	<h1>Stock Availble</h1>
	<div>
		<table id="stockTable"  border="2" cellspacing="15px" >
			<thead>
			<tr>
				<th>Stock Id</th>
				<th>Stock Name</th>
				<th>Stock Price</th>
				<th>Product Type</th>
				<th>Stock Quantity</th>
			</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
</body>
</html>