<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
	h1{
		margin-left:300px;
		font-family: verdana;
		font-size: 40px;
		color:red;
	}
	a{

	    margin-left:400px;
		text-decoration: none;
		font-size: 20px;
		font-family: verdana;
		color: white;

	}
	#cnt1{
		margin-top:40px;
	}
	body{
		background-image: url("customer.jpg");
	}

</style>
</head>
<body>
<h1>Order Processing System</h1>
<div id="cnt1">
<a href="customer" target="_blank">Create Customer</a>
</div>
<div id="cnt1">
<a href="stock" target="_blank">Create Stocks</a>
</div><div id="cnt1">
<a href="order" target="_blank">Make an order</a>
</div>
<div id="cnt1">
<a href="getStockAll" target="_blank">Get Stock</a>
</div>
<div id="cnt1">
<a href="getByStockName" target="_blank">Get Stock Name</a>
</div>

</body>
</html>