<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
      </script>
<script type="text/javascript" src="postOrder.js"></script>
<style type="text/css">
	#cnt{
		border:solid 2px black;
		margin-left: 250px;
		width:900px;
		margin-top: 200px;
	}	
	body{
		background-image: url("customer.jpg");
		color: white;
	}
	label{
		font-family: verdana;
		font-size: 20px;
	}
	button{
		background-color: red;
		color:white;
		width:120px;
		height:40px;
	}
	input{
		width:150px;
		height:25px;
		border-radius: 10px;
	}


</style>
</head>
<body>
	<div id="cnt">
 <div>
		<label for="Comment">Stock Data</label>
		<div id="fig"></div>
		<button id="btn">Add new</button>
	</div>
	 <div>
		<label for="Comment">Product Data</label>
		<div id="fig1"></div>
		<button id="btn1">Add new</button>
	</div>

<form action="" id="myform">



<div>
<label for="id">Customer Id</label>
<input type="text"  id="id">
</div>
	<button id="btn2">submit</button>
</form>
</div>
</body>
</html>